kafka-lag-exporter {
    reporters {
        {% if kafka_lag_exporter_reporters_prometheus_enabled|bool %}
        prometheus {
            port = {{ kafka_lag_exporter_reporters_prometheus_port }}
        }
        {% endif %}
        {% if kafka_lag_exporter_reporters_graphite_enabled|bool %}
        graphite {
            host = {{ kafka_lag_exporter_reporters_graphite_host }}
            port = {{ kafka_lag_exporter_reporters_graphite_port }}
        }
        {% endif %}
    }
    poll-interval = {{ kafka_lag_exporter_poll_interval }}
    lookup-table-size = {{ kafka_lag_exporter_lookup_table_size }}
    client-group-id = {{ kafka_lag_exporter_client_group_id }}
    kafka-client-timeout = {{ kafka_lag_exporter_client_timeout }}
    metric-whitelist = {{ kafka_lag_exporter_metric_whitelist | to_json }}
    clusters = [
        {% for cluster in kafka_lag_exporter_clusters %}
        {
            name = "{{cluster.name}}"
            bootstrap-brokers = "{{ cluster.servers | join(',') }}"
            consumer-properties = {
                {% include "kafka_client.conf.j2" %}

                {% if cluster.consumer_properties is defined %}
                {% for key,value in cluster.consumer_properties.items() %}
                {{ key }}="{{ value }}"
                {% endfor %}
                {% endif %}
            }
            admin-client-properties = {
                {% include "kafka_client.conf.j2" %}
                
                {% if cluster.admin_properties is defined %}
                {% for key,value in cluster.admin_properties.items() %}
                {{ key }}="{{ value }}"
                {% endfor %}
                {% endif %}
            }

            {% if cluster.topic_whitelist is defined %}
            topic-whitelist = "{{ cluster.topic_whitelist | to_json }}"
            {% endif %}

            {% if cluster.topic_blacklist is defined %}
            topic-blacklist = "{{ cluster.topic_blacklist | to_json }}"
            {% endif %}

            {% if cluster.group_whitelist is defined %}
            group-whitelist = "{{ cluster.group_whitelist | to_json }}"
            {% endif %}

            {% if cluster.labels is defined %}
            labels = {
                {% for key,value in cluster.labels.items() %}
                {{ key }}="{{ value }}"
                {% endfor %}
            }
            {% endif %}
        }
        {% endfor %}
    ]
}